.bin {
  margin-top: 60px;
}

.basket {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  &__list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    &_head {
      width: 100%;
      height: 70px;
      display: flex;
      border-radius: 4px;
      border: 2px solid $orange;
      padding-top: 17px;
      padding-left: 30px;
      padding-right: 15px;
    }

    &_check {
      position: relative;
      display: flex;
    }

    &_check input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      width: 26px;
      height: 26px;
    }

    &_check &_checkbox {
      display: inline-block;
      width: 26px;
      height: 26px;
      background-image: url(/img/icons/chekbox.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }

    &_check input[type="checkbox"]:checked+.basket__list_checkbox {
      background-image: url(/img/icons/checkmark.svg);
    }

    &__text {
      color: $black;
      font-family: "Open Sans", Helvetica, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 15px;
    }

    &_img {
      margin-left: 30px;
      margin-right: 60px;
      min-width: 92px;
      position: relative;
    }

    &_img img {
      display: block;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    border: 2px solid $orange;
    background: $white;

    &_title {
      color: $black;
      font-size: 18px;
      font-weight: 600;
      line-height: 130%;
    }

    &_desctiption {
      font-size: 16px;
      color: $orange;
      font-weight: 600;
      line-height: 130%;
      margin-top: 10px;
    }

    &_price {
      color: $black;
      font-size: 24px;
      font-weight: 700;

      &-box {
        display: flex;
        gap: 10px;
      }

      &-discount {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: $grey;

        &::before {
          content: "";
          font-family: 'Open Sans', Helvetica, sans-serif;
          border-bottom: 2px solid #FFB700;
          position: absolute;
          width: 100%;

        }
      }
    }

    &_block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &_div {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 30px;
    }

    &_svg {
      width: 28px;
      height: 34px;
      object-fit: cover;
      fill: $white;
      stroke: $black;
    }
  }

  &__price {
    max-width: 289px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid $orange;
    padding: 30px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    &_end {
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 2px solid $orange;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 248px;
    }

    &_text {
      width: 108px;
      color: $black;
      font-size: 18px;
      font-weight: 700;
    }

    &_money {
      width: 111px;
      color: $orange;
      text-align: right;
      font-size: 24px;
      font-weight: 700;
    }

    &_line {
      width: 249px;
      height: 2px;
      background: $orange;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  &__button {
    padding: 19px 37px;
    width: 218px;
    border-radius: 4px;
    background: $yellow;
    color: $white;
    font-size: 16px;
    font-weight: 800;
    color: $white;

    &:hover {
      background: $orange;
    }
  }
}

@media (max-width: 1080px) {
  .bin {
    font-size: 32px;
  }

  .basket__list__text {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .basket {
    flex-direction: column;
    gap: 50px;
  }

  .basket__list {
    width: 100%;
    gap: 20px;
  }

  .basket__list_head {
    margin-bottom: 10px;
  }

  .basket__price {
    max-width: none;
  }
}

@media(max-width: 480px) {

  .bin {
    margin-top: 30px;
  }

  .basket__item {
    padding: 20px;
  }

  .basket__item_title {
    font-size: 16px;
  }

  .basket__item_desctiption {
    font-size: 14px;
  }


  .basket__list_head {
    padding: 20px;
    height: auto;
  }

  .basket__list_check {
    margin-right: 10px;
  }

  .basket__list_img {
    margin-left: 0;
    margin-right: 20px;
    min-width: 88px;
  }

  .basket__list__text {
    padding-left: 10px;
  }

  .basket__item_svg {
    height: 26px;
    width: 20px;
  }

  .basket__item_price {
    font-size: 20px;
  }

  .basket__item_price-discount {
    font-size: 14px;
  }

  .basket__price_end {
    width: 184px;
    border-width: 1px;
    margin-bottom: 20px;
  }

  .basket__price_text {
    font-size: 16px;
  }

  .basket__price_money {
    font-size: 20px;
  }

  .basket__item_price-box {
    flex-wrap: wrap;
  }

  .basket__button {
    width: auto;
    padding: 20px 30px;
    font-size: 14px;
  }
}

@media (max-width: 360px) {

  .bin {
    font-size: 24px;
  }

  .basket {
    margin-top: 30px;
    gap: 30px;
  }

  .basket__list_check .basket__list_checkbox,
  .basket__list_check input[type=checkbox] {
    width: 20px;
    height: 20px;
  }

  .basket__list__text {
    font-size: 16px;
  }

  .basket__item_price {
    font-size: 16px;
  }

  .basket__list_img {
    min-width: 60px;
  }

  .basket__price_text {
    font-size: 14px;
  }

  s.basket__price_text {
    font-size: 16px;
  }
}