.benefit {
  padding-top: 20px;
  margin-bottom: 116px;
  position: relative;

  &::after {
    content: url('');
    background: left bottom no-repeat;
    background-image: url('../../img/gsd.png');
    width: calc(var(--index)*12.5);
    max-width: 350px;
    height: calc(var(--index)*21);
    background-size: 100%;
    position: absolute;
    top: -150px;
    right: 0;
    z-index: -1;
  }
}

@media (max-width: 1750px) {

  .benefit::after {
    width: calc(var(--index)*10);
    height: calc(var(--index)*21);
  }
}

@media (max-width: 1610px) {

  .benefit::after {
    width: calc(var(--index)*8);
    height: calc(var(--index)*21);
    bottom: -95px;
  }
}

@media (max-width: 1505px) {
  .benefit::after {
    display: none;
  }
}
@media (max-width: 1080px) {

  .benefit::after {
    display: block;
    top: 50px;
    height: 500px;
    width: 278px;
  }
}

@media (max-width: 900px) {

  .benefit::after {
    top: 250px;
  }
}

@media (max-width: 650px) {

  .benefit::after {
    width: 230px;
    top: 125px;
  }
}

@media (max-width: 480px) {
  .benefit {
    margin-bottom: 60px;
  }
  .benefit::after {
    width: 135px;
    top: 175px;
  }
}

@media (max-width: 360px) {
  .benefit::after {
    width: 75px;
    top: 0;
  }
}