.breadcrumbs {
  margin-top: 60px;
  margin-bottom: 30px;
}

.breadcrumbs__card {
  margin-bottom: 59px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  color: $grey;
  font-size: 12px;

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    background: url('../../img/icons/arrow-grey.svg') no-repeat;
    width: 8px;
    height: 8px;
    margin-left: 21px;
  }
}

.breadcrumbs__item-card {
  &::after {
    content: "";
    margin-left: 11px;
  }
}

.breadcrumbs__link:hover {
  color: $orange;
}

@media (max-width: 480px) {
  .breadcrumbs {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .breadcrumbs__list {
    flex-wrap: wrap;
  }

  .breadcrumbs__item {
    min-width: 48px;

    &::after {
      margin-left: 11px;
    }
  }
}

@media (max-width: 360px) {
  .breadcrumbs__item {
    font-size: 10px;
  }
}