.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  border-radius: 2px;
}

.button__dark {
  align-self: flex-start;
  background: $yellow;
  color: $white;

  &:hover {
    background: $orange;
  }
}

.button__dark-hero {
  min-width: 312px;
  padding: 20px 60px;
}

.button__dark-introduse {
  margin-top: 50px;
}

.button__dark-help {
  padding: 21px 62px;
  margin-top: 60px;
}

.button__dark-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 26%;
  padding: 20px 30px;
  margin-top: 88px;
}

.button__light {
  background: $white;
  color: $black;
  border: 2px solid $yellow;
  font-weight: 700;
  line-height: 21.79px;

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   background: url(../../img/icons/arrow-black.svg) no-repeat;
  //   width: 15px;
  //   height: 15px;
  //   margin-left: 10px;
  // }

  &:hover {
    border-color: $orange;
  }
}

.button__light-reviews {
  max-width: 254px;
  min-width: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  padding: 20px 0;
}

.button__light-faq {
  align-self: center;
  padding: 17px 55px;
  margin: 0 auto;
}

.button__light-prev {
  padding: 15px 48px;
}

.button__text {
  margin-right: 16px;
  flex-wrap: wrap;
}

.button__icon {
  flex-shrink: 0;
  stroke: $white;
  width: 15px;
  height: 15px;

  &--dark {
    stroke: $black;
  }
}


@media (max-width : 480px) {
  
  .button__light-reviews {
    max-width: 190px;
    min-width: auto;
  }
}

@media (max-width : 420px) {
  
  .button__light-reviews {
    max-width: 254px;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .button__dark-hero {
    padding: 20px 30px;
    min-width: 254px;
    align-self: center;
  }

  .button__light-reviews { 
    border-width: 1px;
  }
}