.card__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.card__cover {
  width: 58%;
  max-width: 495px;
  min-width: 320px;
  margin-right: 20px;
}

.card__img {
  object-fit: cover;

  // min-width: 320px;
  height: auto;
}

.card__desc {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
  max-width: 598px;
}

.card__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: $black;
  margin-bottom: 29px;
}

.card__text {
  font-size: 18px;
  line-height: 23.4px;
}

.card__text p {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__list {
  margin-top: 15px;
  margin-left: 35px;
}

.card__item {
  list-style: disc;
}

.card__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: $orange;
  margin-top: 19px;
  margin-bottom: 60px;
}

.card__purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card__price-box {
  position: relative;
  display: flex;
  gap: 20px;
}

.card__price-discount {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: $grey;
}

.card__price-discount::before {
  content: "";
  font-family: 'Open Sans', Helvetica, sans-serif;
  border-bottom: 2px solid #FFB700;
  position: absolute;
  width: 100%;

}

.card__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: $black;
  letter-spacing: 1px;
  white-space: nowrap;
}

.card__button {
  background: $yellow;
  color: $white;
  border-radius: 2px;
  padding: 20px 60px;
  font-size: 16px;
  font-weight: 800;
  white-space: nowrap;

  &:hover {
    background: $orange;
  }
}


@media (max-width: 1080px) {


  .card__cover {
    max-width: 320px;
  }

  .card__desc {
    max-width: 620px;
    min-width: 320px;
    flex-shrink: 1;
  }

  .card__title {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 130%;
  }

  .card__purchase {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .card__price-discount {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .card__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card__cover {
    width: 100%;
    max-width: 440px;
    margin-right: 0;
  }

  .card__desc {
    max-width: 100%;
  }



  .card__purchase {
    flex-direction: row;
    align-items: center;
  }


}

@media (max-width: 480px) {
  .card__cover {
    min-width: 100%;
  }

  .card__desc {
    min-width: 100%;
  }

  .card__text {
    font-size: 16px;
    line-height: 130%;
  }

  .card__list {
    margin-left: 30px;
  }

  .card__name {
    margin: 10px 0 30px;
    font-size: 16px;
  }

  .card__price {
    font-size: 20px;
    line-height: 130%;
  }

  .card__price-discount {
    font-size: 14px;
  }

  .card__button {
    padding: 20px 30px;
  }
}

@media (max-width: 360px) {
  .card__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card__text {
    font-size: 14px;
  }

  .card__name {
    font-size: 14px;
  }

  .card__price {
    font-size: 16px;
  }

  .card__price-discount {
    font-size: 12px;
  }
}