.faq__container {
  display: flex;
  flex-direction: column;
}

.faqs__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
}

.faqs__list-info {
  flex-wrap: wrap;

  .faq.active {
    flex-direction: column;
  }

  .faq__question {
    width: 100%;
  }

  .faq.active .faq__answer {
    max-width: 100%;
    max-height: 100%;
  }
}

.faq {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  /* min-width: 700px; */
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $grey;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $grey;
  }
}

.faq__question {
  min-width: 80%;
  margin-right: 20px;
  display: flex;
}

.faq.active .faq__question {
  min-width: 41%;
  margin-bottom: 30px;
}

.faq__question p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: $darkGrey;
  line-height: 120%;
}

.faq.active .faq__question p {
  white-space: pre-line;
}

.faq__answer {
  max-height: 0;
  margin-right: 84px;
  overflow: hidden;
  visibility: hidden;
  // min-width: 30%;
  transition: max-height 0.4s ease;
  // transition: 0.3s ease-in-out;
}

.faq__answer p {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.faq__answer a {
  text-decoration: 1px underline;

  &:hover {
    color: $black;
  }
}

.faq.active {
  border-color: $orange;
}

.faq.active+.faq {
  border-top-color: $orange;
}

.faq.active .faq__answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
  visibility: visible;
}

.faq.active svg {
  transform: rotate(180deg);
  stroke: $orange;
}

svg {
  // transition: transform 0.3s ease-in-out;
  transition: transform 0.4s ease;
}

.faq__icon {
  position: absolute;
  right: 35px;
  object-fit: cover;
  width: 24px;
  height: 24px;
  stroke: $grey;
  flex-shrink: 0;
}

.faqs__list-info .faq__answer {
  font-size: 18px;
  font-weight: 400;
  color: #282828;
  line-height: 130%;
}

.faq__answer-list--num li,
.faq__answer-list li {
  list-style: decimal;
  margin-left: 20px;

  &::marker {
    opacity: 0.8;
    color: #282828;
    font-weight: 700;
  }
}

.faq__answer-list li::marker {
  font-weight: 400;
}

.faq__answer-title {
  color: #282828;
  margin: 40px 0 15px;
  font-weight: 700;
}

.faq__answer-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #282828;
  line-height: 130%;

  margin-bottom: 5px;
}

.faq__answer-list--num li .faq__answer-subtitle {
  margin-left: -20px;
}

li>.faq__answer-text {
  margin-left: -20px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 767px) {
  .faq {
    flex-wrap: wrap;
  }

  .faq__question {
    max-width: 75%;
  }

  // .faq.active .faq__icon {
  //   top: 89px;
  // }
}

@media (max-width: 1080px) {

  // .faq__answer {
  //   font-size: 16px;
  //   line-height: 130%;
  // }

  // // .faq.active .faq__icon {
  // //   top: 30px;
  // // }

  // .faqs__container_items {
  //   width: 400px !important;
  //   flex-direction: column;
  // }

  // .faqs__container_answer {
  //   max-width: 400px;
  //   font-size: 12px;
  // }

  // .faqs__container_quest {
  //   max-width: 400px;
  //   font-size: 14px;
  // }

  // .faqs__container_question {
  //   display: flex;
  //   flex-direction: column;
  //   width: auto !important;
  //   align-items: center;
  // }
}

@media(max-width: 480px) {
  .faq__icon {
    right: 20px;
  }

  .faqs__list-info .faq__answer {
    font-size: 16px;
    margin-right: 0;
  }

  .faq__answer-subtitle {
    font-size: 16px;
  }

  .faq__answer-title {
    margin-top: 25px;
  }

  .faq__answer-list--num li,
  .faq__answer-list li {
    margin-left: 23px;
  }

  .faq__answer-list--num li .faq__answer-subtitle {
    margin-left: -22px;
  }

  li>.faq__answer-text {
    margin-left: -22px;
  }

}

@media (max-width: 360px) {



  .faqs__list-info .faq {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .faq__question p {
    font-size: 16px;
  }

  .faq.active .faq__question {
    margin-bottom: 20px;
  }

  .faq__answer {
    font-size: 14px;
  }

  .faqs__list-info .faq__answer {
    font-size: 14px;
  }

  .faq__answer-subtitle {
    font-size: 14px;
  }

  .faqs__container_answer {
    font-size: 10px;
  }

  .faqs__container_quest {
    font-size: 12px;
  }

  .faq__answer-list--num li,
  .faq__answer-list li {
    margin-left: 25px;
  }
}