.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1080px) {

  .features {
    max-width: 660px;
  }

}

@media (max-width: 650px) {

  .features {
    flex-direction: column;
    align-items: flex-start;
  }

}

@media (max-width: 480px) {

  .features {
    align-items: center;
  }

}