.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 60px 0;
  margin-top: 190px;
  background: $black;
  color: $white;

  &::before {
    content: url('');
    background: right bottom no-repeat;
    background-image: url('../../img/footer-dog-main.png');
    width: 200px;
    height: 300px;
    background-size: 100%;
    position: absolute;
    top: -199px;
    right: 114px;
    z-index: 2;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid $orange;
  padding-bottom: 20px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footer__menu-list {
  display: flex;
}

.footer__menu-item {
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__menu-link {

  &:hover {
    color: $orange;
  }
}

.footer__connect {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30.6px;
}

.footer__politics {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 15px;
}

.footer__politic {
  font-size: 18px;
  font-weight: 600;
  line-height: 19.6px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__politic-link {
  &:hover {
    color: $orange;
  }
}

.footer__copyright {
  font-size: 18px;
  font-weight: 800;
  line-height: 16.8px;
  padding-top: 27px;
}


@media (max-width: 1750px) {

  .footer::after {
    background-size: 74%;
    right: 70px;
  }
}

@media (max-width: 1080px) {
  .footer {
    margin-top: 143px;
  }

  .footer__contacts {
    justify-content: space-between;
  }

  .footer__menu {
    width: 60%;
    flex-grow: 0;
    justify-content: flex-start;
  }

  .footer__politics {
    width: 60%;
    flex-grow: 0;
    justify-content: flex-start;
    text-align: left;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 30px 0;
  }

  .footer__contacts {
    gap: 20px;
  }

  .footer__logo {
    width: 100%;
  }

  .footer__menu {
    width: 100%;
    justify-content: center;
  }

  .footer__connect {
    order: 1;
    max-width: 210px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .footer__politics {
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
  }

  .footer::before {
    width: 110px;
    height: 146px;
    top: -91px;
  }

  .footer__menu-item {
    margin-right: 20px;
  }

  .footer__menu-list {
    width: 100%;
    justify-content: center;
  }


}

@media (max-width: 480px) {
  .footer {
    margin-top: 96px;
  }

  .footer__contacts {
    font-size: 14px;
  }

  .footer::before {
    right: 20px;
  }

  .footer__menu-list {
    justify-content: space-between;
  }

  .footer__politic {
    font-size: 14px;
  }

  .footer__text {
    font-size: 14px;
  }

  .footer__copyright {
    font-size: 14px;
  }

}

@media (max-width: 360px) {

  .footer {
    margin-top: 70px;
  }

  .footer__contacts {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__logo {
    width: auto;
    order: -2;
  }

  .footer__menu-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer__menu-item {
    margin-right: 0;
  }

  .footer__connect {
    width: 100%;
    align-items: center;
    order: -1;
  }

  .footer__politics {
    justify-content: center;
    width: 100%;
  }
}