.hero {
  padding-top: 60px;
  display: flex;
  position: relative;
  margin-bottom: 120px;
  background-image: url(../../img/dog-hero-right.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right top;
}

.hero__img-right {
  display: none;
}

.hero__img-left {
  width: 392px;
  position: absolute;
  bottom: 0;
  left: -350px;
}

.hero__pic {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.hero__main {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;

}

.hero__info {
  width: 64%;
  max-width: 636px;
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  color: $black;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__desc {
  margin-bottom: 60px;
}

.hero__text {
  margin-bottom: 30px;
  line-height: 26.4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__reviews {
  width: 92%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-start;
}

/*.hero::before*/
@media (max-width: 1710px) {

  .hero::before {
    width: calc(var(--index)*12.5);
    height: calc(var(--index)*8);
    right: 13%;
    top: 4%;
  }
}

@media (max-width: 1360px) {

  .hero::before {
    height: calc(var(--index)*7.5);
    right: 14%;
  }
}

@media (max-width: 1080px) {
  .hero {
    padding-top: 50px;
    background-size: 50%;
    background-position: right top;
  }

  .hero__main {
    margin-bottom: 120px;
  }

  .hero__info {
    max-width: 472px;
  }

  .hero__title {
    line-height: 130%;
  }

  .hero__text {
    margin-bottom: 10px;
  }

  .hero__reviews {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    // flex-wrap: wrap;
  }

  .hero__img-left {
    max-width: 218px;
    width: 100%;
    left: -50px;
    z-index: -1;
  }
}

@media (max-width: 900px) {
  .hero__img-left {
    right: 5%;
    top: -10%;
    width: 128px;
    left: auto;
  }

}

@media (max-width: 700px) {

  .hero {
    background-image: none;
  }
  .hero__main {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hero__reviews {
    justify-content: flex-start;
  }

  .hero__img-left {
    left: 62%;
  }

  .hero__img-right {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    order: -1;

    .hero__pic {
      max-width: 440px;
      width: 100%;
    }

  }

  .hero__info {
    width: 100%;
    max-width: fit-content;
  }
}


@media (max-width: 480px) {
  .hero {
    margin-bottom: 60px;
    background-image: none;
    padding-top: 30px;
  }

  

 

  

  .hero__reviews {
    justify-content: space-between;
  }

}

@media (max-width: 420px) {
  .hero__reviews {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 137px;
  }

  .hero__img-left {
    top: -97px;
    left: auto;
    right: auto;
  }

}

@media (max-width: 360px) {
  .hero {
    padding-top: 10px;
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__img-right {
    margin-bottom: 20px;
  }

  .hero__title {
    font-size: 32px;
  }

}