.hero {
  display: flex;
  position: relative;
  margin-bottom: 116px;

  &::before {
    content: url('');
    background: left bottom no-repeat;
    background-image: url('../../img/vospitanie.png');
    width: calc(var(--index)*12);
    height: calc(var(--index)*9);
    background-size: 100%;
    position: absolute;
    top: 3%;
    right: 14%;
    z-index: 2;
  }

}

.hero__img-right {
  width: calc(var(--index)*23);
  position: absolute;
  right: 0;
  top: -6vh;
}

.hero__img-left {
  width: calc(var(--index)*13);
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero__pic {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.hero__main {
  margin-bottom: 76px;
}

.hero__title {
  width: 44%;
  font-size: 40px;
  font-weight: 700;
  color: $black;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.hero__desc {
  width: 52%;
  margin-bottom: 65px;
}

.hero__text {
  margin-bottom: 30px;
  line-height: 26.4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__reviews {
  display: flex;
  align-items: center;
  width: 90%;
}

@media (max-width: 1172px) {
  .hero__reviews {
    width: 100%;
  }
}

/*Более изящного способа для позиционирования декора пока не нашла, в поисках*/

/*.hero::before*/
@media (max-width: 1710px) {

  .hero::before {
    width: calc(var(--index)*12.5);
    height: calc(var(--index)*8);
    right: 13%;
    top: 4%;
  }
}

@media (max-width: 1360px) {

  .hero::before {
    height: calc(var(--index)*7.5);
    right: 14%;
  }
}

/*.hero__img-right*/
@media (max-width: 1710px) {

  .hero__img-right {
    top: -6.5vh;
    width: calc(var(--index)*23);
  }
}

@media (max-width: 1705px) {

  .hero__img-right {
    top: -7.5vh;
    width: calc(var(--index)*22);
  }
}

@media (max-width: 1209px) {

  .hero__img-right {
    top: -4vh;
  }
}

/*.hero__img-left*/
@media (max-width: 1883px) {

  .hero__img-left {
    width: calc(var(--index)*13);
  }
}

@media (max-width: 1840px) {

  .hero__img-left {
    width: calc(var(--index)*12);
  }
}

@media (max-width: 1816px) {

  .hero__img-left {
    width: calc(var(--index)*10);
  }
}

@media (max-width: 1680px) {

  .hero__img-left {
    width: calc(var(--index)*9);
  }
}

@media (max-width: 1668px) {

  .hero__img-left {
    width: calc(var(--index)*8);
  }
}

@media (max-width: 1599px) {

  .hero__img-left {
    width: calc(var(--index)*7);
  }
}

@media (max-width: 1480px) {

  .hero__img-left {
    width: calc(var(--index)*6);
  }
}

@media (max-width: 1458px) {

  .hero__img-left {
    display: none;
  }
}