.introduce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.introduce__photo {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  max-width: 41%;
}

.introduce__photo-decor {
  margin-right: 0;
}

.introduce__desc {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.introduce__desc-decor {
  position: relative;

  &::after {
    content: url('../../img/dont-hurt.png');
    position: absolute;
    bottom: -166px;
    left: 880px;
  }
}

.introduce__text {
  width: 50%;
  min-width: 580px;
  font-size: 18px;
  line-height: 130%;
  // padding-right: 20px;
}

.introduce__text p {
  margin-bottom: 26px;


  &:nth-child(2) {
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.introduce__text a {
  text-decoration: 1px underline;

  &:hover {
    color: $black;
  }
}

.introduce__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  color: $black;
  margin-bottom: 32px;
}

.introduce__subtitle-help {
  padding-right: 25px;
}

@media (max-width: 1080px) {
  .introduce {
    align-items: flex-start;
  }


  .introduce__photo {
    max-width: 47%;
    margin-right: 30px;
  }

  .introduce__text {
    min-width: 400px;
    margin-top: 30px;
    max-width: 470px;
    width: 100%;
  }

}

@media (max-width: 900px) {
  .introduce {
    flex-wrap: wrap;
    justify-content: center;
  }

  .introduce__photo {
    width: 100%;
    max-width: 470px;
    margin-right: 0;
  }

  .introduce__text {
    max-width: fit-content;
  }

}

@media (max-width: 480px) {
  .introduce__text {
    min-width: auto;
  }
  .introduce__text p {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

@media (max-width: 360px){
  .introduce__text {
    margin-top: 20px;
  }
  .introduce__text p {
    font-size: 14px;
  }
}