.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
  font-weight: 600;
  color: $black;
  gap: 32px;
}

.menu__link,
.menu__link-nav {
  &:hover {
    color: $orange;
  }
}
