.offer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

.offers__item {
  width: 25%;
  max-width: 289px;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: translateY(-30px);
  }
}

.offer__content {
  margin-top: 30px;
  text-align: center;
}

.offer__cover {
  display: flex;
  justify-content: center;
}

.offer__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;
  color: $black;
  margin-bottom: 20px;
}

.offer__title-link {
  &:hover {
    color: $orange;
  }
}

@media (max-width: 1080px) {
  .offers__item {
    width: 32%;
    max-width: 320px;

  }
}

@media (max-width: 767px) {
  .offers__item {
    width: 49%;
    max-width: 320px;

  }
}

@media (max-width: 600px) {
  .offers__item {
    width: 49%;
    max-width: 270px;

  }
}

@media (max-width: 550px) {
  .offers__item {
    width: 48%;
    flex-grow: 1;

  }
}

@media (max-width: 480px) {
  .offers__item {
    max-width: 210px;


  }

  .offer__text {
    font-size: 16px;
    text-align: left;
    line-height: 130%;
  }
}

@media (max-width: 360px) {
  .offers__item {
    width: 100%;
    height: 100%;
    max-width: 220px;
  }

  .offer__content {
    margin-top: 10px;
  }

  .offer__title {
    margin-bottom: 10px;
  }

  .offer__text {
    font-size: 14px;
  }
}