.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 576px;
}

.product__img {
  margin-bottom: 30px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.product__img-discount {

  ::before {
    content: "";
    display: block;
    position: absolute;
    background: url('../../img/icons/discount.svg') no-repeat;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
  }
}

.product__pic {
  object-fit: cover;
  width: 100%;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 63px;
}

.product__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  margin-bottom: 9px;

  &:hover {
    color: $orange;
  }
}

.product__link {
  display: flex;
  justify-content: center;
}

.product__desc {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  color: $orange;
}

.product__purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__price-discount {
  position: relative;
}

.product__price-discount:before {
  content: "1600 ₽";
  display: block;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  color: $grey;
  bottom: 51px;
  left: 0;
  width: 51px;
  height: 21px;
}

.product__price-discount:after {
  content: "";
  font-family: 'Open Sans', Helvetica, sans-serif;
  border-bottom: 2px solid #FFB700;
  position: absolute;
  bottom: 181%;
  left: 3%;
  width: 59%;
}

.product__price-discount-wk:before {
  content: "4350 ₽";
}

.product__price-discount-wk:after {
  content: "";
  bottom: 181%;
  left: 1%;
  width: 48%;
}

.product__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: $black;
}

.product__button-light {
  display: block;
  background: transparent;
  color: #000203;
  border: 2px solid $orange;
  border-radius: 3px;
  padding: 20px 28px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    color: $orange;
  }
}


@media (max-width: 1080px) {

  .product {
    min-height: 490px;
  }

  .product__img {
    margin-bottom: 20px;
  }

  .product__button-light {
    border-width: 1px;
  }
}

@media (max-width: 480px) {
  .product__info {
    gap: 30px;
  }

  .product__img {
    margin-bottom: 10px;
  }

  .product__desc {
    font-size: 16px;
  }

  .product__purchase {
    flex-wrap: wrap;
    gap: 10px;
  }

  .product__price {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .product {
    min-height: 380px;
  }

  .product__title {
    font-size: 16px;
  }

  .product__desc {
    font-size: 14px;
  }

  .product__purchase {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .product__price {
    font-size: 14px;
    font-weight: 700;
  }
}