.review {
  display: flex;
  flex-direction: column;
  padding: 21px 18px 2px 18px;
}

.review__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
  background: linear-gradient(to right, $orange 50%, transparent 50%), linear-gradient(to right, $orange 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 18px 2px;
  background-position: left bottom;
}

.review__avatar {
  height: 62px;
  width: 62px;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
}

.review__user {
  font-weight: 600;
  color: $black;
}

.review__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  padding-top: 20px;
  padding-bottom: 20px;
}


.reviews__list {
  display: flex;
  justify-content: flex-start;
}

.reviews__item {
  flex-basis: 289px;
  min-width: 233px;
  flex-shrink: 1;
  min-height: 230px;
  border-left: 2px solid $orange;
  border-top: 2px solid $orange;
  border-bottom: 2px solid $orange;
  background: $white;

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-right: 2px solid $orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

@media (max-width: 1080px) {
  .reviews__list {
    justify-content: flex-end;
  }

  .reviews__item:last-child {
    display: none;
  }

  .reviews__item:nth-child(2) {
    border-right: 2px solid $orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

@media (max-width: 700px) {
  .reviews__list {
    justify-content: flex-start;
    max-width: 289px;
  }

  .reviews__item {
    min-width: auto;

  }

  .reviews__item:nth-child(2) {
    display: none;
  }

  .reviews__item:first-child {
    border-right: 2px solid $orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


@media (max-width: 480px) {
  .reviews__list {
    justify-content: flex-start;
    flex-basis: 230px;
  }

  ;

  .reviews__item {
    min-width: auto;
  }
}

@media (max-width : 360px) {
  .reviews__item {
    border-width: 1px;

    &:first-child {
      border-width: 1px;
    }
  }

  .review__text {
    font-size: 14px;
  }
}