.main__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: $black;
  margin-bottom: 29px;
}

.store__nav {
  margin-bottom: 61px;
}

.store__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.store__item {
  border-radius: 2px;
  border: 2px solid $orange;
  background: $white;
  color: $black;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  cursor: pointer;
  text-align: center;
  min-width: 185px;
  transition: all .3s ease-in-out;

  // &:last-child {
  //   padding: 4px 35px;
  // }

  &--active {
    background: $yellow;
    color: $white;
  }

  &:hover {
    color: $orange;
  }

  &--active:hover {
    background-color: $orange;
    color: $white;
  }
}

@media (max-width: 1080px) {
  .store__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .store__nav {
    margin-bottom: 30px;
  }

  .store__list {
    gap: 10px;
  }

  .store__item {
    padding: 10px 20px;
    min-width: 122px;
    font-size: 14px;
  }

  .main__title {
    font-size: 32px;
    line-height: 130%;
  }
}

@media (max-width: 360px) {
  .main__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .store__item {
    min-width: 110px;
    font-size: 12px;
  }
}