.title {
  font-size: 40px;
  font-weight: 700;
  color: $black;
  margin-bottom: 57px;


}

.title__faq {
  margin-bottom: 52px;
}

@media (max-width: 480px) {

  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .title {
    margin-bottom: 20px;
  }
}