@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: #FFFFFF;
  color: #545454;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --index: calc(1vw + 1vh);
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
  transition: 0.3s all;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.maincontent {
  margin-bottom: 80px;
  flex: 1;
}

.container {
  width: 95%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}

input[type=checkbox]:checked {
  background-image: url("./img/icons/anon.png");
}

@media (max-width: 1080px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 440px;
  }
}
@media (max-width: 360px) {
  .container {
    max-width: 320px;
  }
  body {
    font-size: 16px;
  }
}
.header {
  position: relative;
  display: flex;
  padding-top: 15px;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFB700;
  padding-bottom: 12px;
}

.header__burger {
  display: flex;
}

.header__social {
  display: none;
  align-items: center;
  gap: 30px;
}
.header__social-text {
  margin-top: 60px;
  margin-bottom: 11px;
  font-weight: 600;
  color: #000203;
  line-height: 170%;
}

@media (max-width: 1080px) {
  .header__menu {
    display: none;
  }
  .header__burger {
    justify-content: space-between;
    flex-basis: 260px;
  }
  .header__social {
    display: flex;
    margin-right: 30px;
    z-index: 2;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 24px;
  }
  .header__container {
    padding-bottom: 24px;
  }
  .header__burger {
    justify-content: flex-end;
    gap: 30px;
  }
  .header__social {
    display: none;
  }
}
.logo {
  flex-shrink: 0;
  margin-right: 12px;
}

.logo__img {
  width: 214px;
  height: 83px;
}

@media (max-width: 480px) {
  .logo__img {
    height: 60px;
    width: 156px;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
  font-weight: 600;
  color: #000203;
  gap: 32px;
}

.menu__item:last-child {
  display: none;
}

.menu__link:hover,
.menu__link-nav:hover {
  color: #FFB700;
}

.cart__cover {
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 12px;
}

.cart__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 32px;
  height: 35px;
  fill: #FFFFFF;
  stroke: #000203;
}
.cart__img:hover {
  stroke: #FFB700;
  transition: 0.3s all;
}

.close__img {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 58px;
  height: 58px;
  stroke: #000203;
  transition: stroke 0.3s ease;
}
.close__img:hover {
  cursor: pointer;
  stroke: #FFB700;
}

.burger__icon {
  display: none;
  stroke: #000203;
  width: 44px;
  height: 40px;
  transition: stroke 0.3s ease;
}
.burger__icon:hover {
  stroke: #FFB700;
  cursor: pointer;
}

.burger__nav {
  display: none;
  position: absolute;
  top: -15px;
  right: -150%;
  margin-right: -2.5%;
  padding: 104px 78px;
  width: 100%;
  max-width: 413px;
  min-height: 657px;
  border: 1px solid #FFB700;
  background: #FFFFFF;
  transition: right 0.5s linear;
  z-index: 10;
}
.burger__nav::after {
  content: "";
  display: block;
  width: 182px;
  height: 192px;
  background-image: url(../../img/burger_dog.png);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.burger__nav .menu__list {
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.burger__nav .menu__item:last-child {
  display: block;
}
.burger__nav .menu__item:last-child .menu__link-nav {
  display: flex;
  align-items: center;
}
.burger__nav .menu__item:last-child:hover .cart__img {
  stroke: #FFB700;
  transition: 0.3s all;
}
.burger__nav .menu__item:last-child .cart__img {
  margin-left: 16px;
  width: 19px;
  height: 21px;
}
.burger__nav .social__img {
  width: 33.962px;
  height: 37.358px;
}

@media (max-width: 1080px) {
  .burger__icon {
    display: block;
  }
  .burger__nav {
    display: flex;
    flex-direction: column;
  }
  .burger__nav .header__social {
    display: flex;
  }
  .close__img {
    display: block;
  }
}
@media (max-width: 480px) {
  .burger__nav {
    top: -24px;
    margin-right: -2.5%;
  }
}
@media (max-width: 360px) {
  .burger__nav {
    width: 100vw;
    margin-right: -20px;
  }
}
.breadcrumbs {
  margin-top: 60px;
  margin-bottom: 30px;
}

.breadcrumbs__card {
  margin-bottom: 59px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  color: #545454;
  font-size: 12px;
  margin-right: 18px;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__item::after {
  content: "";
  display: inline-block;
  background: url("../../img/icons/arrow-grey.svg") no-repeat;
  width: 8px;
  height: 8px;
  margin-left: 21px;
}

.breadcrumbs__item-card {
  margin-right: 6px;
}
.breadcrumbs__item-card::after {
  content: "";
  margin-left: 11px;
}

@media (max-width: 480px) {
  .breadcrumbs {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .breadcrumbs__item {
    margin-right: 9px;
  }
  .breadcrumbs__item::after {
    margin-left: 11px;
  }
}
@media (max-width: 360px) {
  .breadcrumbs__item {
    font-size: 10px;
  }
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  border-radius: 2px;
}

.button__dark {
  align-self: flex-start;
  background: #FFC533;
  color: #FFFFFF;
}
.button__dark:hover {
  background: #FFB700;
}

.button__dark-hero {
  min-width: 312px;
  padding: 20px 60px;
}

.button__dark-introduse {
  margin-top: 50px;
}

.button__dark-help {
  padding: 21px 62px;
  margin-top: 60px;
}

.button__dark-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 313px;
  padding: 20px 30px;
  margin-top: 60px;
}

.button__light {
  background: #FFFFFF;
  color: #000203;
  border: 2px solid #FFC533;
  font-weight: 700;
  line-height: 21.79px;
}
.button__light:hover {
  border-color: #FFB700;
  color: #FFB700;
}
.button__light:hover .button__icon--dark {
  stroke: #FFB700;
}

.button__light-reviews {
  max-width: 254px;
  min-width: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  padding: 20px 0;
}

.button__light-faq {
  align-self: center;
  padding: 17px 55px;
  margin: 0 auto;
}

.button__light-prev {
  padding: 15px 48px;
}

.button__text {
  margin-right: 16px;
  flex-wrap: wrap;
}

.button__icon {
  flex-shrink: 0;
  stroke: #FFFFFF;
  width: 15px;
  height: 15px;
  transition: 0.3s all;
}
.button__icon--dark {
  stroke: #000203;
}

@media (max-width: 480px) {
  .button__light-reviews {
    max-width: 190px;
    min-width: auto;
  }
}
@media (max-width: 420px) {
  .button__light-reviews {
    max-width: 254px;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .button__dark-hero {
    padding: 20px 30px;
    min-width: 254px;
    align-self: center;
  }
  .button__light-reviews {
    border-width: 1px;
  }
  .button__dark-offer {
    max-width: 253px;
  }
}
.hero {
  padding-top: 60px;
  display: flex;
  position: relative;
  margin-bottom: 120px;
  background-image: url(../../img/dog-hero-right.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right top;
}

.hero__img-right {
  display: none;
}

.hero__img-left {
  width: 392px;
  position: absolute;
  bottom: 0;
  left: -350px;
}

.hero__pic {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

.hero__main {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.hero__info {
  width: 64%;
  max-width: 636px;
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  color: #000203;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__desc {
  margin-bottom: 60px;
}

.hero__text {
  margin-bottom: 30px;
  line-height: 26.4px;
}
.hero__text:last-child {
  margin-bottom: 0;
}

.hero__reviews {
  width: 92%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-start;
}

/*.hero::before*/
@media (max-width: 1710px) {
  .hero::before {
    width: calc(var(--index) * 12.5);
    height: calc(var(--index) * 8);
    right: 13%;
    top: 4%;
  }
}
@media (max-width: 1360px) {
  .hero::before {
    height: calc(var(--index) * 7.5);
    right: 14%;
  }
}
@media (max-width: 1080px) {
  .hero {
    padding-top: 50px;
    background-size: 50%;
    background-position: right top;
  }
  .hero__main {
    margin-bottom: 120px;
  }
  .hero__info {
    max-width: 472px;
  }
  .hero__title {
    line-height: 130%;
  }
  .hero__text {
    margin-bottom: 10px;
  }
  .hero__reviews {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
  }
  .hero__img-left {
    max-width: 218px;
    width: 100%;
    left: -50px;
    z-index: -1;
  }
}
@media (max-width: 900px) {
  .hero__img-left {
    right: 5%;
    top: -10%;
    width: 128px;
    left: auto;
  }
}
@media (max-width: 700px) {
  .hero {
    background-image: none;
  }
  .hero__main {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hero__reviews {
    justify-content: flex-start;
  }
  .hero__img-left {
    left: 62%;
  }
  .hero__img-right {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    order: -1;
  }
  .hero__img-right .hero__pic {
    max-width: 440px;
    width: 100%;
  }
  .hero__info {
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media (max-width: 480px) {
  .hero {
    margin-bottom: 60px;
    background-image: none;
    padding-top: 30px;
  }
  .hero__reviews {
    justify-content: space-between;
  }
}
@media (max-width: 420px) {
  .hero__reviews {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 137px;
  }
  .hero__img-left {
    top: -97px;
    left: auto;
    right: auto;
  }
}
@media (max-width: 360px) {
  .hero {
    padding-top: 10px;
  }
  .hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__img-right {
    margin-bottom: 20px;
  }
  .hero__title {
    font-size: 32px;
  }
}
.reviews__container {
  width: 95%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.reviews__container_title {
  color: #000203;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
  margin-bottom: 30px;
}
.reviews__items_container {
  width: 1216px;
  height: 2112px;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.reviews__items_container::after {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(to top, white, transparent);
}
.reviews__items_container.no-gradient::after {
  display: none;
}
.reviews__items_user {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.reviews__items_name {
  width: 167px;
  color: #000203;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.reviews__items_line {
  width: 351px;
  height: 2px;
  border-bottom: 2px dashed #ffb700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reviews__items_item {
  width: 392px;
  height: auto;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #ffb700;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 20px 60px 20px;
  -moz-column-break-inside: avoid;
       break-inside: avoid; /* Предотвращаем разрыв элементов на несколько столбцов */
  margin-bottom: 20px; /* Добавляем отступ снизу для разделения элементов */
}
.reviews__items_text {
  width: 352px;
  color: #545454;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
.reviews__items_photo {
  margin-bottom: 20px; /* Добавляем отступ снизу для разделения элементов */
}

.button__light-revs {
  align-self: center;
  padding: 17px 55px;
  margin: 0 auto;
}

.review {
  display: flex;
  flex-direction: column;
  padding: 21px 18px 2px 18px;
}

.review__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
  background: linear-gradient(to right, #FFB700 50%, transparent 50%), linear-gradient(to right, #FFB700 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 18px 2px;
  background-position: left bottom;
}

.review__avatar {
  height: 62px;
  width: 62px;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
}

.review__user {
  font-weight: 600;
  color: #000203;
}

.review__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reviews__list {
  display: flex;
  justify-content: flex-start;
}

.reviews__item {
  flex-basis: 289px;
  min-width: 233px;
  flex-shrink: 1;
  min-height: 230px;
  border-left: 2px solid #FFB700;
  border-top: 2px solid #FFB700;
  border-bottom: 2px solid #FFB700;
  background: #FFFFFF;
}
.reviews__item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.reviews__item:last-child {
  border-right: 2px solid #FFB700;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media (max-width: 1080px) {
  .reviews__list {
    justify-content: flex-end;
  }
  .reviews__item:last-child {
    display: none;
  }
  .reviews__item:nth-child(2) {
    border-right: 2px solid #FFB700;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
@media (max-width: 700px) {
  .reviews__list {
    justify-content: flex-start;
    max-width: 289px;
  }
  .reviews__item {
    min-width: auto;
  }
  .reviews__item:nth-child(2) {
    display: none;
  }
  .reviews__item:first-child {
    border-right: 2px solid #FFB700;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
@media (max-width: 480px) {
  .reviews__list {
    justify-content: flex-start;
    flex-basis: 230px;
  }
  .reviews__item {
    min-width: auto;
  }
}
@media (max-width: 360px) {
  .reviews__item {
    border-width: 1px;
  }
  .reviews__item:first-child {
    border-width: 1px;
  }
  .review__text {
    font-size: 14px;
  }
}
.title {
  font-size: 40px;
  font-weight: 700;
  color: #000203;
  margin-bottom: 57px;
  line-height: 110%;
}

.title__faq {
  margin-bottom: 52px;
}

@media (max-width: 1080px) {
  .title__faq {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .title {
    margin-bottom: 20px;
  }
  .title__faq {
    margin-bottom: 40px;
  }
}
.about {
  padding-top: 20px;
  margin-bottom: 120px;
}

.about__content {
  position: relative;
}
.about__content::before {
  content: url("");
  background: no-repeat;
  background-image: url(../../img/pretenzii.png);
  width: calc(var(--index) * 20);
  height: calc(var(--index) * 10);
  background-size: 100%;
  position: absolute;
  top: 68%;
  left: -21%;
  z-index: 2;
}

@media (max-width: 1560px) {
  .about__content::before {
    top: 69%;
    left: -8%;
  }
}
@media (max-width: 1140px) {
  .about__content::before {
    top: 64%;
  }
}
@media (max-width: 1080px) {
  .about__content::before {
    top: 60%;
  }
}
@media (max-width: 900px) {
  .about__content::before {
    width: 65%;
    min-width: 440px;
    top: 34%;
    left: 12%;
  }
}
@media (max-width: 480px) {
  .about {
    margin-bottom: 60px;
  }
  .about__content::before {
    min-width: 340px;
    top: 23%;
    left: -10%;
  }
}
@media (max-width: 360px) {
  .about__content::before {
    top: 24%;
  }
}
.introduce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.introduce__photo {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 41%;
}

.introduce__photo-decor {
  margin-right: 0;
}

.introduce__desc {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.introduce__desc-decor {
  position: relative;
}
.introduce__desc-decor::after {
  content: url("../../img/dont-hurt.png");
  position: absolute;
  bottom: -166px;
  left: 880px;
}

.introduce__text {
  width: 50%;
  min-width: 580px;
  font-size: 18px;
  line-height: 130%;
}

.introduce__text p {
  margin-bottom: 26px;
}
.introduce__text p:nth-child(2) {
  margin-bottom: 8px;
}
.introduce__text p:last-child {
  margin-bottom: 0;
}

.introduce__text a {
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
}
.introduce__text a:hover {
  color: #000203;
}

.introduce__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  color: #000203;
  margin-bottom: 32px;
}

.introduce__subtitle-help {
  padding-right: 25px;
}

@media (max-width: 1080px) {
  .introduce {
    align-items: flex-start;
  }
  .introduce__photo {
    max-width: 47%;
    margin-right: 30px;
  }
  .introduce__text {
    min-width: 400px;
    margin-top: 30px;
    max-width: 470px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .introduce {
    flex-wrap: wrap;
    justify-content: center;
  }
  .introduce__photo {
    width: 100%;
    max-width: 470px;
    margin-right: 0;
  }
  .introduce__text {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media (max-width: 480px) {
  .introduce__text {
    min-width: auto;
  }
  .introduce__text p {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .introduce__text {
    margin-top: 20px;
  }
  .introduce__text p {
    font-size: 14px;
  }
}
.benefit {
  padding-top: 20px;
  margin-bottom: 116px;
  position: relative;
}
.benefit::after {
  content: url("");
  background: left bottom no-repeat;
  background-image: url("../../img/gsd.png");
  width: calc(var(--index) * 12.5);
  max-width: 350px;
  height: calc(var(--index) * 21);
  background-size: 100%;
  position: absolute;
  top: -150px;
  right: 0;
  z-index: -1;
}

@media (max-width: 1750px) {
  .benefit::after {
    width: calc(var(--index) * 10);
    height: calc(var(--index) * 21);
  }
}
@media (max-width: 1610px) {
  .benefit::after {
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 21);
    bottom: -95px;
  }
}
@media (max-width: 1505px) {
  .benefit::after {
    display: none;
  }
}
@media (max-width: 1080px) {
  .benefit::after {
    display: block;
    top: 50px;
    height: 500px;
    width: 278px;
  }
}
@media (max-width: 900px) {
  .benefit::after {
    top: 250px;
  }
}
@media (max-width: 650px) {
  .benefit::after {
    width: 230px;
    top: 125px;
  }
}
@media (max-width: 480px) {
  .benefit {
    margin-bottom: 60px;
  }
  .benefit::after {
    width: 135px;
    top: 175px;
  }
}
@media (max-width: 360px) {
  .benefit::after {
    width: 75px;
    top: 0;
  }
}
.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1080px) {
  .features {
    max-width: 660px;
  }
}
@media (max-width: 650px) {
  .features {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .features {
    align-items: center;
  }
}
.feature {
  display: flex;
  flex-direction: column;
  min-width: 290px;
}

.feature__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 21px;
  background: linear-gradient(to right, #FFB700 50%, transparent 50%), linear-gradient(to right, #FFB700 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 18px 2px;
  background-position: left bottom;
}

.feature__header-text {
  font-size: 64px;
  line-height: 70.4px;
  font-weight: 600;
  color: orange;
  padding-right: 20px;
  padding-left: 20px;
}

.feature__content {
  padding-top: 19px;
}

.feature__content-text {
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  color: #545454;
  max-width: 290px;
}

@media (max-width: 480px) {
  .feature__content-text {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .feature__header-text {
    font-size: 54px;
  }
  .feature__content-text {
    font-size: 16px;
  }
}
.help {
  padding-top: 20px;
  margin-bottom: 117px;
  position: relative;
}
.help::before {
  content: url("");
  background: left bottom no-repeat;
  background-image: url("../../img/hello-doggy.png");
  width: calc(var(--index) * 7.8);
  height: calc(var(--index) * 11);
  background-size: 100%;
  position: absolute;
  bottom: -4%;
  left: 0;
  z-index: -1;
}

@media (max-width: 1078px) {
  .help::before {
    bottom: -7%;
  }
}
.help__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 61px;
}
.help__content:last-child {
  margin-bottom: 0;
}

.help__photo {
  max-width: 41%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10%;
}

.help__photo-decor {
  max-width: 41%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0;
  margin-left: 10%;
}

.help__desc {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
}

.help__desc-decor {
  position: relative;
}
.help__desc-decor::after {
  content: url("");
  background: no-repeat;
  background-image: url("../../img/dont-hurt.png");
  width: calc(var(--index) * 20);
  height: calc(var(--index) * 10);
  background-size: 100%;
  position: absolute;
  top: 1%;
  left: 166%;
  z-index: 2;
}

@media (max-width: 1740px) {
  .help__desc-decor::after {
    width: calc(var(--index) * 21);
    left: 142%;
    top: 2%;
  }
}
@media (max-width: 1350px) {
  .help__desc-decor::after {
    left: 135%;
  }
}
.help__text {
  font-size: 18px;
  line-height: 23.4px;
}

.help__text p {
  margin-bottom: 26px;
}
.help__text p:last-child {
  margin-bottom: 0;
}

.help__text-block-2 p:nth-child(3) {
  margin-bottom: 10px;
}

.help__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  color: #000203;
  margin-bottom: 32px;
}

@media (max-width: 1080px) {
  .help__photo {
    margin-right: 30px;
  }
  .help__photo-decor {
    margin-right: 0;
    margin-left: 30px;
  }
  .help__desc {
    width: 100%;
    max-width: 470px;
  }
}
@media (max-width: 700px) {
  .help::before {
    top: 50%;
  }
  .help__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 262px;
  }
  .help__content:last-child .help__photo {
    order: -1;
  }
  .help__photo {
    width: 100%;
    max-width: 440px;
    margin-right: 0;
    margin-left: 0;
  }
  .help__desc {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .help {
    margin-bottom: 60px;
  }
  .help__text {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .help__content {
    margin-bottom: 190px;
  }
  .help__desc {
    padding-top: 20px;
  }
  .help__text {
    font-size: 14px;
  }
  .help__text p {
    margin-bottom: 10px;
  }
  .help__subtitle {
    margin-bottom: 20px;
  }
}
.offers {
  padding-top: 20px;
  margin-bottom: 120px;
}

.offers__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  row-gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 360px) {
  .offers__list {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
}
.offer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

.offers__item {
  width: 25%;
  max-width: 289px;
  transition: transform 0.3s ease-in-out;
}
.offers__item:hover {
  transform: translateY(-12px);
}

.offer__content {
  margin-top: 30px;
  text-align: center;
}

.offer__cover {
  display: flex;
  justify-content: center;
}

.offer__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;
  color: #000203;
  margin-bottom: 20px;
}

.offer__title-link:hover {
  color: #FFB700;
}

@media (max-width: 1080px) {
  .offers__item {
    width: 32%;
    max-width: 320px;
  }
}
@media (max-width: 767px) {
  .offers__item {
    width: 49%;
    max-width: 320px;
  }
}
@media (max-width: 600px) {
  .offers__item {
    width: 49%;
    max-width: 270px;
  }
}
@media (max-width: 550px) {
  .offers__item {
    width: 48%;
    flex-grow: 1;
  }
}
@media (max-width: 480px) {
  .offers__item {
    max-width: 210px;
  }
  .offer__text {
    font-size: 16px;
    text-align: left;
    line-height: 130%;
  }
}
@media (max-width: 360px) {
  .offers__item {
    width: 100%;
    height: 100%;
    max-width: 220px;
  }
  .offer__content {
    margin-top: 10px;
  }
  .offer__title {
    margin-bottom: 10px;
  }
  .offer__text {
    font-size: 14px;
  }
}
.faqs {
  padding-top: 20px;
}

.faq__container {
  display: flex;
  flex-direction: column;
}

.faqs__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
}

.faq {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  /* min-width: 700px; */
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #545454;
  cursor: pointer;
}
.faq:last-child {
  border-bottom: 1px solid #545454;
}

.faq__question {
  min-width: 80%;
  margin-right: 20px;
}

.faq.active .faq__question {
  min-width: 41%;
}

.faq__question p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #282828;
}

.faq.active .faq__question p {
  white-space: pre-line;
}

.faq__answer {
  max-height: 0;
  margin-right: 84px;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.4s ease;
}

.faq__answer p {
  margin-bottom: 12px;
}
.faq__answer p:last-child {
  margin-bottom: 0;
}

.faq__answer a {
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
}
.faq__answer a:hover {
  color: #000203;
}

.faq.active {
  border-color: #FFB700;
}

.faq.active + .faq {
  border-top-color: #FFB700;
}

.faq.active .faq__answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
  visibility: visible;
}

.faq.active svg {
  transform: rotate(180deg);
  stroke: #FFB700;
}

svg {
  transition: transform 0.4s ease;
}

.faq__icon {
  position: absolute;
  right: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 24px;
  height: 24px;
  stroke: #545454;
  flex-shrink: 0;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 767px) {
  .faq {
    flex-wrap: wrap;
  }
  .faq__question {
    max-width: 75%;
  }
  .faq.active .faq__icon {
    top: 89px;
  }
  .faq.active .faq__question {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .faq__answer {
    font-size: 16px;
    line-height: 130%;
    margin-right: 0;
  }
  .faq.active .faq__icon {
    top: 30px;
  }
}
@media (max-width: 360px) {
  .faq__question p {
    font-size: 16px;
  }
  .faq.active .faq__question {
    margin-bottom: 20px;
  }
  .faq__answer {
    font-size: 14px;
  }
}
.main__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #000203;
  margin-bottom: 29px;
}

.store__nav {
  margin-bottom: 61px;
}

.store__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.store__item {
  border-radius: 2px;
  border: 2px solid #FFB700;
  background: #FFFFFF;
  color: #000203;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  cursor: pointer;
  text-align: center;
  min-width: 185px;
  transition: all 0.3s ease-in-out;
}
.store__item--active {
  background: #FFC533;
  color: #FFFFFF;
}
.store__item:hover {
  color: #FFB700;
}
.store__item--active:hover {
  background-color: #FFB700;
  color: #FFFFFF;
}

@media (max-width: 1080px) {
  .store__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .store__nav {
    margin-bottom: 30px;
  }
  .store__list {
    gap: 10px;
  }
  .store__item {
    padding: 10px 20px;
    min-width: 122px;
    font-size: 14px;
  }
  .main__title {
    font-size: 32px;
    line-height: 130%;
  }
}
@media (max-width: 360px) {
  .main__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .store__item {
    min-width: 110px;
    font-size: 12px;
  }
}
.products__list {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, 289px);
  grid-auto-rows: minmax(min-content, max-content);
  gap: 30px 20px;
}

@media (max-width: 1080px) {
  .products__list {
    grid-template-columns: repeat(auto-fill, 320px);
  }
}
@media (max-width: 480px) {
  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 360px) {
  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 576px;
}

.product__img {
  margin-bottom: 30px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.product__img-discount ::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../../img/icons/discount.svg") no-repeat;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
}

.product__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 63px;
}

.product__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  margin-bottom: 9px;
}
.product__title:hover {
  color: #FFB700;
}

.product__link {
  display: flex;
  justify-content: center;
}

.product__desc {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  color: #FFB700;
}

.product__purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__price-discount {
  position: relative;
}

.product__price-discount:before {
  content: "1600 ₽";
  display: block;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  color: #545454;
  bottom: 51px;
  left: 0;
  width: 51px;
  height: 21px;
}

.product__price-discount:after {
  content: "";
  font-family: "Open Sans", Helvetica, sans-serif;
  border-bottom: 2px solid #FFB700;
  position: absolute;
  bottom: 181%;
  left: 3%;
  width: 59%;
}

.product__price-discount-wk:before {
  content: "4350 ₽";
}

.product__price-discount-wk:after {
  content: "";
  bottom: 181%;
  left: 1%;
  width: 48%;
}

.product__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: #000203;
}

.product__button-light {
  display: block;
  background: transparent;
  color: #000203;
  border: 2px solid #FFB700;
  border-radius: 3px;
  padding: 20px 28px;
  font-size: 16px;
  font-weight: 600;
}
.product__button-light:hover {
  color: #FFB700;
}

@media (max-width: 1080px) {
  .product {
    min-height: 490px;
  }
  .product__img {
    margin-bottom: 20px;
  }
  .product__button-light {
    border-width: 1px;
  }
}
@media (max-width: 480px) {
  .product__info {
    gap: 30px;
  }
  .product__img {
    margin-bottom: 10px;
  }
  .product__desc {
    font-size: 16px;
  }
  .product__purchase {
    flex-wrap: wrap;
    gap: 10px;
  }
  .product__price {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .product {
    min-height: 380px;
  }
  .product__title {
    font-size: 16px;
  }
  .product__desc {
    font-size: 14px;
  }
  .product__purchase {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product__price {
    font-size: 14px;
    font-weight: 700;
  }
}
.books__products {
  min-height: 614px;
}

.card__content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card__cover {
  width: 58%;
  margin-right: 10%;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

.card__desc {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
}

.card__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #000203;
  margin-bottom: 29px;
}

.card__text {
  font-size: 18px;
  line-height: 23.4px;
}

.card__text p {
  margin-bottom: 9px;
}
.card__text p:last-child {
  margin-bottom: 0;
}

.card__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: #FFB700;
  margin-top: 19px;
  margin-bottom: 60px;
}

.card__purchase {
  display: flex;
  align-items: center;
}

.card__price-discont {
  color: #545454;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  text-decoration: line-through;
}

.card__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  color: #000203;
  margin-right: 21%;
  letter-spacing: 1px;
  white-space: nowrap;
}

.card__button {
  background: #FFC533;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 18px 50px;
  font-size: 16px;
  font-weight: 800;
  white-space: nowrap;
  margin-right: 18px;
}
.card__button:hover {
  background: #FFB700;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 60px 0;
  margin-top: 190px;
  background: #000203;
  color: #FFFFFF;
}
.footer::before {
  content: url("");
  background: right bottom no-repeat;
  background-image: url("../../img/footer-dog-main.png");
  width: 200px;
  height: 300px;
  background-size: 100%;
  position: absolute;
  top: -199px;
  right: 114px;
  z-index: 2;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #FFB700;
  padding-bottom: 20px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.footer__menu-list {
  display: flex;
}

.footer__menu-item {
  margin-right: 26px;
}
.footer__menu-item:last-child {
  margin-right: 0;
}

.footer__menu-link:hover {
  color: #FFB700;
}

.footer__connect {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30.6px;
}

.footer__politics {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 15px;
}

.footer__politic {
  font-size: 18px;
  font-weight: 600;
  line-height: 19.6px;
}
.footer__politic:last-child {
  margin-right: 0;
}

.footer__politic-link:hover {
  color: #FFB700;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 800;
  line-height: 16.8px;
  padding-top: 27px;
}

@media (max-width: 1750px) {
  .footer::after {
    background-size: 74%;
    right: 70px;
  }
}
@media (max-width: 1080px) {
  .footer {
    margin-top: 143px;
  }
  .footer__contacts {
    justify-content: space-between;
  }
  .footer__menu {
    width: 60%;
    flex-grow: 0;
    justify-content: flex-start;
  }
  .footer__politics {
    width: 60%;
    flex-grow: 0;
    justify-content: flex-start;
    text-align: left;
  }
}
@media (max-width: 900px) {
  .footer {
    padding: 30px 0;
  }
  .footer__contacts {
    gap: 20px;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__menu {
    width: 100%;
    justify-content: center;
  }
  .footer__connect {
    order: 1;
    max-width: 210px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  .footer__politics {
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
  }
  .footer::before {
    width: 110px;
    height: 146px;
    top: -91px;
  }
  .footer__menu-item {
    margin-right: 20px;
  }
  .footer__menu-list {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer {
    margin-top: 96px;
  }
  .footer__contacts {
    font-size: 14px;
  }
  .footer::before {
    right: 20px;
  }
  .footer__menu-list {
    justify-content: space-between;
  }
  .footer__politic {
    font-size: 14px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .footer {
    margin-top: 70px;
  }
  .footer__contacts {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__logo {
    width: auto;
    order: -2;
  }
  .footer__menu-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer__menu-item {
    margin-right: 0;
  }
  .footer__connect {
    width: 100%;
    align-items: center;
    order: -1;
  }
  .footer__politics {
    justify-content: center;
    width: 100%;
  }
}
.social {
  display: flex;
}

.social__item {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__img {
  width: 25px;
  height: 25px;
}

.social__link {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .social__img--footer {
    width: 33.962px;
    height: 37.358px;
  }
}
.basket {
  display: flex;
}
.basket__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.basket__list_head {
  width: 908px;
  height: 70px;
  display: flex;
  border-radius: 4px;
  border: 2px solid #FFB700;
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 15px;
}
.basket__list_check {
  position: relative;
  display: flex;
}
.basket__list_check input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 26px;
  height: 26px;
}
.basket__list_check .basket__list_checkbox {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url(/img/icons/chekbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.basket__list_check input[type=checkbox]:checked + .basket__list_checkbox {
  background-image: url(/img/icons/checkmark.svg);
}
.basket__list__text {
  color: #000203;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 15px;
}
.basket__list_img {
  margin-left: 30px;
  margin-right: 60px;
  position: relative;
}
.basket__list_img img {
  display: block;
}
.basket__item {
  display: flex;
  width: 907px;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #ffb700;
  background: #fff;
}
.basket__item_title {
  color: #000203;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}
.basket__item_desctiption {
  color: #ffb700;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  margin-top: 10px;
}
.basket__item_price {
  color: #000203;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-right: 526px;
}
.basket__item_block {
  display: flex;
  width: 639px;
  height: 123px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.basket__item_div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.basket__item_svg {
  width: 28px;
  height: 34px;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #ffffff;
  stroke: #000203;
}
.basket__price {
  width: 289px;
  height: 204px;
  border-radius: 4px;
  border: 2px solid #ffb700;
  margin-left: 20px;
  padding: 30px 20px 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.basket__price_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 249px;
}
.basket__price_text {
  width: 108px;
  color: #000203;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.basket__price_money {
  width: 111px;
  color: #ffb700;
  text-align: right;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.basket__price_line {
  width: 249px;
  height: 2px;
  background: #ffb700;
  margin-top: 20px;
  margin-bottom: 30px;
}
.basket__button {
  width: 218px;
  height: 60px;
  border-radius: 4px;
  background: #FFC533;
  left: 37px;
  top: 19px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #ffffff;
}
.basket__button:hover {
  background: #FFB700;
}

.faqs__container {
  width: 95%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.faqs__container_title {
  color: #000203;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
}
.faqs__container_question {
  width: 1216px;
  margin-top: 60px;
  position: relative;
}
.faqs__container_question::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, white, transparent);
}
.faqs__container_question.no-gradient::after {
  display: none;
}
.faqs__container_items {
  width: 1216px;
  height: 100%;
}
.faqs__container_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.faqs__container_quest {
  width: 495px;
  color: #282828;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}
.faqs__container_answer {
  margin-top: 30px;
  width: 701px;
  color: #545454;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}

.button__light-faqs {
  align-self: center;
  padding: 17px 55px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */